<ul class="list-group people-box">
   <li class="list-group-header">
      <input class="form-control" type="text" placeholder="Search for someone">
   </li>

   <li class="list-group-item active">
      <%= image_tag 'avatar1.jpg', class: 'person-avatar img-circle media-object pull-left' %>
      <div class="media-body">
         <strong>List item title</strong>
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>

   <li class="list-group-item">
      <%= image_tag 'avatar2.jpg', class: 'person-avatar img-circle media-object pull-left' %>
      <div class="media-body">
         <strong>List item title</strong>
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>

   <li class="list-group-item">
      <%= image_tag 'avatar3.jpg', class: 'person-avatar img-circle media-object pull-left' %>
      <div class="media-body">
         <strong>List item title</strong>
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>

   <li class="list-group-item">
      <%= image_tag 'avatar4.jpg', class: 'person-avatar img-circle media-object pull-left' %>
      <div class="media-body">
         <strong>List item title</strong>
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>

   <li class="list-group-item">
      <%= image_tag 'avatar5.jpg', class: 'person-avatar img-circle media-object pull-left' %>
      <div class="media-body">
         <strong>List item title</strong>
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>

   <li class="list-group-item">
      <%= image_tag 'avatar6.jpg', class: 'person-avatar img-circle media-object pull-left' %>
      <div class="media-body">
         <strong>List item title</strong>
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>
</ul>
