<li class='chat'>
  <%= image_tag chat.sender.avatar,
    class: 'person-avatar img-circle media-object pull-left' %>
  <div class='media-body'>
    <strong><%= chat.sender.name %></strong>
    <p><%= chat.text %></p>

    <% if chat.itemable? && chat.items.any? && chat.gross_amount > 0 %>
      <a href="#beli-<%= chat.id %>"
        data-token=""
        data-chat-id="<%= chat.id %>"
        class='buy-chat-items'>
        Beli
      </a>
    <% end %>

  </div>
</li>
